<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-input label="Login" labelPlacement="floating"></ion-input>
    <ion-input label="Password" labelPlacement="floating" maxlength="20" counter></ion-input>
  </div>
</ion-content>